
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ведомость студентов</title>
</head>
<body>
    <div>                    
        <table>

                <form method="post" action="Added" value="@ViewBag.Students" name="Students">               
                    <tr>
                        <td><p>Имя</p></td>
                        <td><input type="text" name="FirstName" /></td>
                    </tr>
                    <tr>
                        <td><p>Фамилия</p></td>
                        <td><input type="text" name="SurName" /></td>
                    </tr>
                    <tr>
                        <td><p>Возраст</p></td>
                        <td><input type="text" name="Age" /></td>
                    </tr>
                    <tr>
                        <td><p>Факультет</p></td>
                        <td><input type="text" name="Faculty" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Отправить" /></td>
                        <td></td>
                    </tr>
                    
                    

                <tr>
                    <td><p>№</p></td>
                    <td><p>Имя</p></td>
                    <td><p>Фамилия</p></td>
                    <td><p>Возраст</p></td>
                    <td><p>Факультет</p></td>
                </tr>

                @foreach (var b in ViewBag.Students)
                {
                <tr>
                <form method="post" action="Delete">
                    <td><p>@b.Id</p></td>
                    <td><p>@b.FirstName</p></td>
                    <td><p>@b.SurName</p></td>
                    <td><p>@b.Age</p></td>
                    <td><p>@b.Faculty</p></td>
                    <td><p><input type="submit" value="@b.Id" name="Id" /></p></td>
                </form>
                </tr>
                }
        </table>        
    </div>
</body>
</html>
