
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ведомость студентов</title>
</head>
<body>
    <div>
        <form method="post" action="Delete">

            <table>
                <tr>
                    <td><p style="text-indent: 40px">№</p></td>
                    <td><p style="text-indent: 40px">Имя</p></td>
                    <td><p style="text-indent: 40px">Фамилия</p></td>
                    <td><p style="text-indent: 40px">Возраст</p></td>
                    <td><p style="text-indent: 40px">Факультет</p></td>
                </tr>

                @foreach (var b in ViewBag.Students)
                {
                    <tr>
                        <td><p style="text-indent: 40px">@b.Id</p></td>
                        <td><p style="text-indent: 40px">@b.FirstName</p></td>
                        <td><p style="text-indent: 40px">@b.SurName</p></td>
                        <td><p style="text-indent: 40px">@b.Age</p></td>
                        <td><p style="text-indent: 40px">@b.Faculty</p></td>
                        <td><input type="radio" name="Id" value="@b.Id"></td>
                    </tr>
                }

                <tr><td><input type="submit" value="Удалить" /></td></tr>
            </table>
            
        </form>
    </div>
</body>
</html>
